@font-face {
	font-family: 'phake';
	src: url('fonts/phake.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'banchob';
	src: url('fonts/banchob.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
	overflow: hidden;
	height: 100%;
}

body {
	height: 100%;
	overflow: auto;
	font-size: 16px;
	font-family: sans-serif
}

i {
	cursor: pointer;
	color: #1D2B36;
	opacity: 0.5;
	transition-duration: 0.2s;
}

i:hover {
	color: #1D2B36;
	opacity: 0.75;
}

edge {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 50px;
	padding: 0px;
	text-align: center;
	font-size: 12px;
	line-height: 1.5rem;
	color: #cad2d7;
}

edge i {
	color: #cad2d7;
	padding: 5px;
	opacity: 1;
}

edge i:hover {
	color: #F5F5F5;
	opacity: 1;
}

toolbar {
	height: 30px;
	padding: 10px;
	position: fixed;
	top: 0px;
	left: 250px;
	right: 0px;
	background-color: #EDF1F2;
	color: #5D6972;
}

toolbar .docid {
	float: right;
	font-family: 'Arial';
	font-size: 14px;
	margin-top: 6px
}

toolbar .lexeme {
	font-size: 25px;
	font-family: "phake"
}

toolbarleft {
	height: 30px;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 15px;
	position: fixed;
	top: 0px;
	left: 50px;
	right: 0px;
	width: 180px;
	font-family: Arial;
	font-size: 28px;
	color: #3B4851;
	background-color: #C8D2D7;
}

toolbarleft span.altappname {
	opacity: 0.25;
}

statusbarleft {
	height: 20px;
	padding: 5px;
	position: fixed;
	bottom: 0px;
	left: 50px;
	width: 190px;
	right: 0px;
	text-align: right;
	font-weight: bold;
	color: #cad2d7;
	background-color: #C8D2D7
}

statusbar {
	height: 20px;
	padding: 5px;
	position: fixed;
	bottom: 0px;
	left: 250px;
	right: 0px;
	overflow: hidden;
	white-space: nowrap;
	background-color: #EDF1F2;
}

statusbar status {
	display: inline-block;
	border-radius: 2px;
	margin-right: 4px;
	padding: 2px 10px 2px 10px;
	opacity: 0.25;
	color: #1D2B36;
}

statusbar status:nth-child(1) {
	opacity: 1;
	border-right: 2px solid #e0e0e0;
}

content {
	overflow-y: auto;
	position: absolute;
	top: 50px;
	bottom: 70px;
	left: 250px;
	right: 0px;
	padding: 5px;
	display: flex;
	flex-direction: column;
}

controls {
	overflow-y: auto;
	position: absolute;
	height: 30px;
	bottom: 30px;
	left: 250px;
	right: 0px;
	padding: 5px;
	display: flex;
	background-color: #f7f9f9;
	flex-direction: row;
	font-size: 22px;
}

#controlbuttons {
	text-align: left;
	flex: 4;
	padding: 5px;
	padding-top: 3px;
}

#controltrashbuttons {
	text-align: right;
	flex: 4;
	padding: 5px;
	padding-top: 3px;
}

#switches {
	padding: 3px;
	flex: 1;
	text-align: right;
}

sidebar {
	position: fixed;
	top: 50px;
	bottom: 70px;
	left: 50px;
	width: 200px;
	color: #1D2B36;
	background-color: #D1D9DE;
}

sidebarmenu {
	position: fixed;
	height: 40px;
	bottom: 30px;
	left: 50px;
	width: 200px;
	color: #1D2B36;
	background-color: #CDD6DB;
}
sidebarmenu div {
	padding: 10px;
}
sidebarmenu div select {
	width: 80%
}

#itemlist {
	height: 100%;
	overflow-y: scroll;
	border-bottom: 1px solid rgba(255, 255, 255, .05);
	border-top: 1px solid rgba(255, 255, 255, .05)
}

#itemlist item {
	border-bottom: 1px solid rgba(0,0,0,.05);
	transition: 0.25s;
}

#itemlist item:hover {
	background: rgba(255,255,255,0.2)
}

log {
	position: absolute;
	top: 50px;
	right: 0px;
	padding: 5px;
	width: 200px;
	bottom: 70px;
	display: none;
	overflow-y: auto;
	z-index: 100;
}

log status {
	display: block;
	font-size: 12px;
	text-align: right;
}

item {
	display: block;
	padding: 5px;
	padding-left: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, .05);
	font-family: 'Arial';
	cursor: pointer;
}

item:hover {
	color: #1D2B36;
}

.editrow {
	display: flex;
	flex-direction: row;
	line-height: 1.5em;
	border-bottom: 1px solid #EDF1F2;
}

.left {
	flex: 2;
	font-weight: bold
}

.left_small {
	flex: 1;
	font-weight: bold
}

.right {
	flex: 4
}


/* colours */

.red {
	color: #f44336 !important
}

.green {
	color: #8BC34A !important
}

.gold {
	color: #F3B954 !important
}

.script {
	font-family: 'phake';
	font-size: 20px;
}

.banchob {
	font-family: 'banchob';
	font-size: 18px;
}


/* The switch - the box around the slider */

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
}

/* Hide default HTML checkbox */

.switch input {
	display: none;
}

/* The slider */

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #cad2d7;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 2px;
	bottom: 2px;
	background-color: #fff;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #8BC34A;
}

input:focus+.slider {
	box-shadow: 0 0 1px #8BC34A;
}

input:checked+.slider:before {
	transform: translateX(16px);
}


/* Rounded sliders */
.slider.round {
	border-radius: 16px;
}

.slider.round:before {
	border-radius: 50%;
}

.black {
	color: #17222b
}

.blackbg {
	background-color: #17222b
}

.charcoal {
	color: #1D2B36
}

.charcoalbg {
	background-color: #1D2B36
}
